# keep repository-specific stuff out of here (e.g. email addresses)
[user]
        name  = Rob Walker

[color]
	ui = auto

[alias]
        lol = log --oneline --decorate --graph
        lolm = log --oneline --decorate --graph --no-merges
        lola = log --oneline --decorate --graph --all
        lolam = log --oneline --decorate --graph --all --no-merges
        ls = ls-tree master --name-only
        lsr = ls-tree -r master --name-only
        gerrit-cherry = ! git fetch $(git remote) $(git ls-remote $(git remote) refs/changes/*/${1}/* | awk '/[0-9a-fA-F]+/ {ref=$2}END{print ref}') && git cherry-pick FETCH_HEAD && exit ${?}
        heads = ! eval $(git rev-list --all --children | awk '{ if (NF==1) print \"git --no-pager log -1 --decorate --oneline \" $1 \" && \" }END{print \"true\"}') && exit ${?}
        vheads = ! eval $(git rev-list --all --children | awk '{ if (NF==1) print \"git --no-pager log -1 --decorate \" $1 \" && \" }END{print \"true\"}') && exit ${?}



[core]
        excludesfile = ~/.gitexcludes
